#conocimientos {
  height: 80vh;

  .conocimientos__titulo {
    display: flex;
    justify-content: center;
    h4 {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 360px) {
    .conocimientos__titulo {
      h4 {
        font-size: 2rem;
      }
    }
  }

  .logos {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding-top: 2rem;
    padding-left: 5%;
    padding-right: 5%;

    @media screen and (max-width: 1500px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .logos__Knowledge {
      width: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding: 1rem;

      .Knowledge__titulo {
        padding-bottom: 1rem;
        h6 {
          span {
            color: green;
          }
          display: flex;
          justify-content: center;
          padding-top: 1rem;
          font-size: 2rem;
        }
      }
      .logos__icons {
        display: grid;
        justify-content: center;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
      }
      @media screen and (max-width: 360px) {
        .Knowledge__titulo {
          h6 {
            display: block;
            font-size: 1.2rem;
          }
        }

        .logos__icons {
          display: flex;
          flex-direction: column;
        }
      }
    }

    @media screen and (max-width: 360px) {
      .logos__Knowledge {
        width: 20rem;
      }
    }

    .logos__devtools {
      width: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding: 1rem;

      .devtools__titulo {
        padding-bottom: 1rem;
        h6 {
          span {
            color: green;
          }
          display: flex;
          justify-content: center;
          padding-top: 1rem;
          font-size: 2rem;
        }
      }

      .logos__icons {
        display: grid;
        justify-content: center;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: 360px) {
        .devtools__titulo {
          h6 {
            font-size: 1.2rem;
          }
        }

        .logos__icons {
          display: flex;
          flex-direction: column;
        }
      }

    
    }

    @media screen and (max-width: 360px) {
      .logos__devtools {
        width: 20rem;
      }
    }
  }
}

@media screen and (max-width: 360px) {

  .logos__i {
    padding: 4rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

}