header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: $color5;

  a:hover {
    border-bottom: solid $color3;
  }

  display: flex;
  justify-content: center;


.nav-link{
  text-align: center;
}


}
