@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

$fontmontserrat: "Montserrat", sans-serif;

$color1: #caf0f8;

$color2: #90e0ef; 
  
$color3: #00b4d8;

$color4: #0077b6;

$color5: #03045e;

